{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        
                        <h2>Our Courses</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_1.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">Class Nursery to V</a>
                            <h4>&#8377 400/month</h4>
                            <a href="course-details.html">
                                <h3>Subject Wise</h3>
                            </a>
                            <p>All subjects included .</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_1.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">Bhagyshri Kawle</a></h5>
                                    </div>
                                </div>
                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_2.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">Class VI to IX</a>
                            <h4>&#8377 500/month</h4>
                            <a href="course-details.html">
                                <h3> Main Subjects </h3>
                            </a>
                            <p>Science,Mathematics and English .</p>
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_2.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">Shrikant Kawle</a></h5>
                                    </div>
                                </div>
                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_special_cource">
                        <img src="{% static 'img/special_cource_3.png' %}" class="special_img" alt="">
                        <div class="special_cource_text">
                            <a href="course-details.html" class="btn_4">Crash Course</a>
                            <h4>&#8377 5000</h4>
                            <a href="course-details.html">
                                <h3>Navodaya Entrance</br>
                                    Schoolership Exam </br></h3>

                            </a>
                            
                            <div class="author_info">
                                <div class="author_img">
                                    <img src="{% static 'img/author/author_3.png' %}" alt="">
                                    <div class="author_info_text">
                                        <p>Conduct by:</p>
                                        <h5><a href="#">Bhagyshri Kawle</a></h5>


                                    </div>
                                </div>

                                <div class="author_rating">
                                    <div class="rating">
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/color_star.svg' %}" alt=""></a>
                                        <a href="#"><img src="{% static 'img/icon/star.svg' %}" alt=""></a>
                                    </div>
                                    <p>3.8 Ratings</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->


{% endblock %}